<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="static/style.css" rel="stylesheet" type="text/css" />
  <link href='https://fonts.googleapis.com/css?family=Varela' rel='stylesheet'>
  <link href='https://fonts.googleapis.com/css?family=Nanum Pen Script' rel='stylesheet'>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia&effect=neon|outline|emboss|shadow-multiple">
  <title>WOBN</title>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

</head>
<body>

<!-- class="font-effect-neon" -->

<span class="woty">
<h2 style="font-family: 'Nanum Pen Script'; text-align:center; font-size: 42px;">Worty Of Bing Non</h2></span>


<!-- From here -->

<postinput>
<form method="POST">
<label for="title">Share your stuff here:</label><br>
  
<textarea id="thoughts" name="thoughts" rows="4" cols="50" type="text"></textarea>
<br>
<input type="submit" value="Post" class="addBtn" >

</form> 
</postinput>

<br>

<div id="posts">

<article>
<h3 id="post1"></h3>
</article>


</div>


<script src="static/main.js"></script>

</body>
</html>