<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="static/style.css" rel="stylesheet" type="text/css" />
  <link href='https://fonts.googleapis.com/css?family=Varela' rel='stylesheet'>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia&effect=neon|outline|emboss|shadow-multiple">
  <title>WOBN</title>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

</head>
<body>

<span class="woty">
<h2 class="font-effect-neon" style="text-align:center;">Worty Of Bing Non</h2></span>

<!-- From here -->

<postinput>
<form method="POST">
<label for="title">Share your stuff here:</label><br>
  
<textarea id="thoughts" name="thoughts" rows="4" cols="50" type="text"></textarea>
<br>
<input type="submit" value="Post" class="addBtn" >

</form> 
</postinput>

<br>

<div id="posts">

<article>
<h3>Jam looks beautiful. Tastes beautiful too.</h3>
<hr />
<p>test</p>
<p class="date">2021-09-21</p>
</article>


</div>



<script src="static/main.js"></script>

</body>
</html>